@model IEnumerable<CakeTickBoard.ViewModels.UserViewModel>

@{
    var leaderboard = Model.OrderByDescending(u => u.CakeTickCount);
}
<div class="jumbotron">
    <h1>Cake Tick Leaderboard</h1>
</div>

<table style="width:100%" border="1">
    <tr>
        <th>Username</th>
        <th>Points</th>
        <th>Rank</th>
    </tr>
    @foreach (var user in leaderboard)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.CakeTickCount</td>
            <td>@user.Rank</td>
        </tr>
    }
</table>